{% extends '::base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}

    {# navbar #}
    {% include 'OCTrickBundle::navbar.html.twig' %}

    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <img class="carousel-item active" src="img/snowboard.jpg">
                <img class="carousel-item" src="img/snowboard2.jpg">
                <img class="carousel-item" src="img/snowboardgirl.jpg">
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
    </header>

    {# Page content #}
    <div class="container">
        
        {# flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-dismissable alert-{{ label }}">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        
        <h1 class="my-4">Liste des Figures / Tricks</h1>

        <div class="row">
            {% for trick in tricks %}
                <div class="col-lg-6 col-md-6 col-sm-12 tricks-border">
                    <a href="{{ path('oc_trick_view', { 'slug': trick.slug }) }}"><img class="tricks-img" src="{{ asset('img/tricks/' ~ trick.pictures[0].pictureName ~ '') }}"></a>
                    <h3 class="tricks-title"><a href="{{ path('oc_trick_view', { 'slug': trick.slug }) }}">{{ trick.name|title }}</a></h3>
                    <div class="tricks-icons">
                        <a href="{{ path('oc_trick_edit', {'slug': trick.slug }) }}" title="Modifier"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                        <a href="{{ path('oc_trick_delete', {'id': trick.id }) }}" title="Supprimer"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <hr>
        
        {# Pagination #}
        <ul class="pagination justify-content-center">
            {% for p in range(1, nbPages) %}
                <li class="page-item{% if p == page %} active{% endif %}">
                    <a class="page-link" href="{{ path('oc_trick_homepage', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
