{% trans_default_domain 'FOSUserBundle' %}

<h1 style="margin-top:100px;margin-bottom:20px">Connexion</h1>

<div class="row">
	<div class="col-lg-10 col-md-10">
        {% if error %}
            <div class="form-group row">
                <div class="col-md-9"><p>{{ error.messageKey|trans(error.messageData, 'security') }}</p></div>
            </div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <div class="form-group row">
                <label for="username" class="col-md-2">{{ 'security.login.username'|trans }}</label>
                <div class="col-md-5">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />    
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-md-2">{{ 'security.login.password'|trans }}</label>
                <div class="col-md-5">
                    <input type="password" id="password" name="_password" required="required" class="form-control" />    
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12" style="text-align:center">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>
            </div>
            <div class="form-group row" style="margin-bottom:340px">
                <div class="col-md-12" style="text-align:center">
                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>


