<div class="container">

    {% if trick is defined %}
    <h1 class="my-4" style="text-decoration:underline">Modifier la Figure</h1>
    {% else %}
    <h1 class="my-4" style="text-decoration:underline">Ajouter une nouvelle Figure</h1>
    {% endif %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'col-10 mx-auto'}}) }}
    {{ form_errors(form) }}

        <div class="form-group row">
            {{ form_label(form.name, 'Nom :', {'label_attr': {'class': 'col-md-3 col-sm-10 col-form-label'}}) }}
            <div class="col-md-9 col-sm-10">
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-9 col-md-offset-3">
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.description, 'Description :', {'label_attr': {'class': 'col-md-3 col-sm-10 col-form-label'}}) }}
            <div class="col-md-9 col-sm-10">
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': '7'}}) }}
            </div>
            <div class="col-md-9 col-md-offset-3">
                {{ form_errors(form.description) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.category, 'Catégorie :', {'label_attr': {'class': 'col-md-3 col-sm-10 col-form-label'}}) }}
            <div class="col-md-4 col-sm-10">
                {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-9 col-md-offset-3">
                {{ form_errors(form.category) }}
            </div>
        </div>
        {# Pictures form #}
        <div class="form-group row">
            {{ form_label(form.pictures, 'Illustration(s) :', {'label_attr': {'class': 'col-md-3 col-sm-10 col-form-label'}}) }}
            <div class="col-md-9 col-sm-10">
                {{ form_widget(form.pictures) }}
            </div>
        </div>
        {# Videos form #}
        <div class="form-group row">
            {{ form_label(form.videos, 'Vidéo(s) :', {'label_attr': {'class': 'col-md-3 col-sm-10 col-form-label'}}) }}
            <div class="col-md-9 col-sm-10">
                {{ form_widget(form.videos) }}
            </div>
        </div>
        <div class="form-group row form-btn">
            <div class="col-md-12 col-sm-12">
                <a class="btn btn-primary" href="{{ path('oc_trick_homepage') }}">Annuler</a>
                <button class="btn btn-success" type="submit">Enregistrer</button>
            </div>
        </div>

    {{ form_end(form) }}

</div>
